         @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

        html {
            height: 100%; 
        }

        body {
            background: linear-gradient(135deg, #000000 40%, #4b0082 100%);
            color: white;
            font-family: 'Orbitron', sans-serif;
            min-height: 100vh; /* Altura mínima da janela */
            background-attachment: fixed; 
            display: flex;
            flex-direction: column; 
        }
        div.card {
            font-size: 14px;
            font-family: 'Orbitron', Arial, sans-serif;
            color: rgb(255, 255, 255);
            background-color: rgba(0, 0, 0, 0);
            border-radius: 8px;
            box-shadow: 0 0 10px rgb(255, 255, 255);

        }